<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DaDa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>mainweb.html</welcome-file>
    <welcome-file>mainweb.htm</welcome-file>
    <welcome-file>mainweb.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>validate</servlet-name>
    <servlet-class>validate.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validate</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newuser</servlet-name>
    <servlet-class>newuser.Newuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newuser</servlet-name>
    <url-pattern>/newuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.kdyzm.servlet.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/payServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.DaDa.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileTypeSearchServlet</servlet-name>
    <url-pattern>*.get</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileTypeSearchServlet</servlet-name>
    <servlet-class>com.DaDa.servlet.FileTypeSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sprServlet</servlet-name>
    <url-pattern>/sprServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sprServlet</servlet-name>
    <servlet-class>com.DaDa.servlet.sprServlet</servlet-class>
  </servlet>
</web-app>